/*body {
	padding-top: 55px;
}*/
.profile-side-nav > li > a {
    width: 225px;
    font-size: 16px;
    padding-left: 20px;
}

.profile-side-nav {
    position: fixed;
    top: 50px;
    /*	left: 225px;*/
    width: 225px;
    margin-left: -225px;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
    bottom: 0;
    overflow-x: auto;
    overflow-y: auto;
}

.profile-navStyle {
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
}

/*.border {
	border: 1px solid black;
	border-radius: 15px;
}*/
.profile-borderNew {
    border: 10px;
}

.profile-right {
    float: right;
    margin-bottom: 15px;
    margin-top: 140px;
}

/*Setting&rounding 2 border*/
.profile-borderAll {
    border: 3px double #A0A0A0;
    /*border-radius: 15px;*/
}

.profile-bot {
    margin-bottom: 5px;
}

/*Padding in divs*/
.profile-PaddingDiv {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Shadow fow boxes*/
.profile-shadow {
    box-shadow: inset 0px 0px 53px -2px rgba(133, 126, 133, 1);
}

.profile-navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
}

/*ul, menu, dir {
  	display: block;
 	 list-style-type: disc;
 	 -webkit-margin-before: 1em;
 	 -webkit-margin-after: 1em;
  	-webkit-margin-start: 0px;
 	 -webkit-margin-end: 0px;
  	-webkit-padding-start: 40px;
}*/
/*Default settings for side-nav fro Bottstrap SD Admin*/
.profile-fa-fw {
    width: 1.28571429em;
    text-align: center;
}

/*Sizing up all gliphpns*/
.profile-gliphonSizeUp {
    font-size: 16px;
    padding-top: 3px;
}

/*Drop down menu right padding*/
.profile-DDMenuRightPadding {
    margin-right: 10px;
}

.profile-DDUserMenuSessionMenuMarginRight {
    margin-right: 20px;
}

/*DDUserMenuSessionMenuMarginRight for Shops*/
.profile-DDRight {
    margin-right: 35px;
    margin-left: 25px;
}

.profile-ProfileUserImgMargin {
    margin: 10px 0px 5px;
}

.profile-searchMargine {
    margin: 15px 3px 20px;
}

.profile-blockHigh {
    height: 50px;
}

/*Merging user photo on side navbar*/
.profile-imgUserMargineBottom {
    margin-top: -15px;
}

.profile-amountFieldMargine {
    margin-right: -180px;
}

/*Setting button stile (blue inside)*/
/*.profile-buttonStileBlue {*/
    /*color: 0033CC;*/
/*}*/

/*Placing user photo at user profile changing page*/
.profile-UserImgTopMargine {
    margin-top: 37px;
    margin-left: -15px;
    max-width: 450px;
    min-width: 350px;
    width: 35%;
}

.profile-MoveUserInformationRight {
    margin-left: 25px;
}

.profile-MoveChanceImgLink {
    padding-left: 80px;
}




