<div class="container" style="margin-top: -1%" ng-controller="ProductCtrl">
		<div id="photoes" class= "row" align="center">
			<div class= "col-md-4" align="center">
				<p><img
						src="app/modules/goods/img/2.jpg"
						height="350"
						width="350"
						class="img-thumbnail"
						data-toggle="modal"
						></p>
			</div>
			<div  class= "col-md-8" >
					<div align="center">
							<table class="table table textColor" id="characteristics_list">
								<caption><h3 align="center">{{product.name}}</h3></caption>
								<tr>
									<th >Characteristic's title</th>
									<th>Characteristic's value</th>
								</tr>
								<tr ng-repeat="description in descriptions">
									<td>{{description.name}}</td>
									<td>{{description.value}}</td>
								</tr>

							</table>
					</div>
			</div>
		</div>
			<div class="row">
				<div class="col-md-4">
					<table class="table table-condensed textColor">
						<tr>
							<th >Shop</th>
							<th>Price</th>
							<th></th>
							<th> </th>
						</tr>
						<tr>
							<td align="center" style="vertical-align: middle">Rozetka</td>
							<td align="center" style="vertical-align: middle">12999</td>
							<td align="center" style="vertical-align: middle"><button class="btn ButtonColor BtnTextColor textColor"> Buy</button></td>
							<td ng-controller="BucketCtrl" align="center" style="vertical-align: middle">
								<button ng-click="addChart(product.id)"  class="btn ButtonColor BtnTextColor textColor"> Add to Chart</button></td>
						</tr>

					</table>
				</div>
				<div class="col-md-8">
					<h3 align="center" class="textColor">Comments </h3>
					<div class="col-md-offset-1 col-md-11" style="overflow-y: scroll; height:200px;">
					<div class="panel panel-primary" align="center" ng-repeat="comment in comments">
						<div class="panel-body" align="center">
							 created: {{getDate(comment.creationDate)}} buy {{getUser(comment.userId)}}
						</div>
						<div class="panel-footer">{{comment.commentText}}</div>
					</div>
				</div>
					<div class="col-md-offset-1 col-md-11">
					<div class="panel panel-primary" align="center">
						<div class="panel-body" align="center">
							Leave a comment
						</div>
						<div class="panel-footer">
							<input
									ng-model="text"
									class="form-control"
									type="text"
									style="width: 100%"/>
							<button
									ng-click="postComment()"
									class="btn form-control"
									style="width: 10%; background-color: rgba(181, 255, 64, 0.73)" > Sent</button>
						</div>
					</div>
						</div>>
				</div>
			</div>

		</div>
