<div class="container" style="margin-top: -3%" ng-controller="ProductCtrl">
		<div id="photoes" class= "row" align="center">
			<div class= "col-md-4" align="center">
				<p><img
						src="app/modules/goods/img/2.jpg"
						height="250"
						width="250"
						class="img-thumbnail"
						data-toggle="modal"
						style="margin-top: 23%"
						></p>
			</div>
			<div  class= " col-md-8" align="center">
					<div align="center">
							<table
									class="table table-bordered textColor"
									id="characteristics_list"
									style="background-color: rgba(0, 0, 0, 0.16)">
								<caption><h3 align="center">{{product.name}}</h3></caption>
								<tr>
									<th >Characteristic's title</th>
									<th>Characteristic's value</th>
								</tr>
								<tr ng-repeat="description in descriptions">
									<td>{{description.name}}</td>
									<td>{{description.value}}</td>
								</tr>

							</table>
					</div>
			</div>
			<div class="col-md-12">
				<table class="table table-bordered textColor" style="background-color: rgba(0, 0, 0, 0.16)">
					<tbody>
					<tr>
						<th>Shop</th>
						<th>Price</th>
						<th>Availability</th>
						<th></th>
						<th> </th>
					</tr>
					<tr ng-repeat="shop in shops">
						<td align="center" style="vertical-align: middle">{{shop.user.firstName}}</td>
						<td align="center" style="vertical-align: middle">{{shop.price}}</td>
						<td align="center">{{productAvailability($index)}}</td>
						<td align="center" style="vertical-align: middle"><button class="btn ButtonColor BtnTextColor textColor"> Buy</button></td>
						<td ng-controller="BucketCtrl" align="center" style="vertical-align: middle">
							<button ng-click="addChart(product.id)"  class="btn ButtonColor BtnTextColor textColor"> Add to Chart</button></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
			<div class="row">
				<!--<div class="col-md-offset-1 col-md-10">-->
					<!--<table class="table table-bordered textColor">-->
						<!--<tbody>-->
						<!--<tr>-->
							<!--<th>Shop</th>-->
							<!--<th>Price</th>-->
							<!--<th>Availability</th>-->
							<!--<th></th>-->
							<!--<th> </th>-->
						<!--</tr>-->
						<!--<tr ng-repeat="shop in shops">-->
							<!--<td align="center" style="vertical-align: middle">{{shop.user.firstName}}</td>-->
							<!--<td align="center" style="vertical-align: middle">{{shop.price}}</td>-->
							<!--<td align="center">{{productAvailability($index)}}</td>-->
							<!--<td align="center" style="vertical-align: middle"><button class="btn ButtonColor BtnTextColor textColor"> Buy</button></td>-->
							<!--<td ng-controller="BucketCtrl" align="center" style="vertical-align: middle">-->
								<!--<button ng-click="addChart(product.id)"  class="btn ButtonColor BtnTextColor textColor"> Add to Chart</button></td>-->
						<!--</tr>-->
						<!--</tbody>-->
					<!--</table>-->
				<!--</div>-->
			</div>
	<div class=" col-md-12">
		<h3 align="center"
			class="textColor">Comments </h3>
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-primary textColor"
				 align="center" ng-repeat="comment in comments"
				 style="background-color: rgba(169, 169, 169, 0.26); border: rgba(169, 169, 169, 0.12)">
				<div class="panel-body"
					 align="center">
					created: {{getDate(comment.creationDate)}}
					buy {{comment.user.firstName}} {{comment.user.lastName}}
					<!--{{comment.userId}}-->
				</div>
				<div class="panel-footer textColor" style="background-color: rgba(169, 169, 169, 0.12)">{{comment.commentText}}</div>
			</div>
		</div>
		<div class="col-md-offset-2 col-md-8">
			<div class="panel panel-primary textColor"
				 align="center"
				 style="background-color: rgba(169, 169, 169, 0.26); border: rgba(169, 169, 169, 0.12)">
				<div class="panel-body"
					 align="center">
					Leave a comment
				</div>
				<div class="panel-footer textColor"
					 style="background-color: rgba(169, 169, 169, 0.12)"
						ng-show="role='admin' || role='client' || role='shop'">
					<textarea name="text"
							  id=""
							  cols="30"
							  rows="5"
							  ng-model="text"
							  class="form-control BtnTextColor ButtonColor"
							  type="text">

					</textarea>
					<button
							ng-click="postComment()"
							class="btn form-control BtnTextColor"
							style="width: 10%; background-color: rgba(255, 255, 255, 0.44)" > Sent</button>
				</div>
			</div>
		</div>
	</div>

		</div>
