<div class="container" style="margin-top: -1%">
		<div id="photoes" class= "row" align="center">
			<div class= "col-md-4" align="center">
				<p><img
						src="app/modules/goods/img/2.jpg"
						height="350"
						width="350"
						class="img-thumbnail"
						data-toggle="modal"
						></p>
			</div>
			<div  class= "col-md-8" >
					<div align="center">
							<table class="table table-condensed textColor" id="characteristics_list">
								<caption><h3 align="center">Samsung GS3</h3></caption>
								<tr>
									<th >Characteristic's title</th>
									<th>Characteristic's value</th>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
								<tr>
									<td>blsablalbla</td>
									<td>blablalblabl</td>
								</tr>
							</table>
					</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<table class="table table-condensed textColor">
						<tr>
							<th >Shop</th>
							<th>Price</th>
							<th> </th>
							<th> </th>
						</tr>
						<tr>
							<td align="center" style="vertical-align: middle">Rozetka</td>
							<td align="center" style="vertical-align: middle">12999</td>
							<td align="center" style="vertical-align: middle"><button class="btn ButtonColor BtnTextColor textColor"> Buy</button></td>
							<td align="center" style="vertical-align: middle">
								<button class="btn ButtonColor BtnTextColor textColor"> Add to Chart</button></td>
						</tr>
						<tr>
							<td align="center" style="vertical-align: middle">Rozetka</td>
							<td align="center" style="vertical-align: middle">12999</td>
							<td align="center" style="vertical-align: middle"><button class="btn ButtonColor BtnTextColor textColor"> Buy</button></td>
							<td align="center" style="vertical-align: middle">
								<button class="btn ButtonColor BtnTextColor textColor"> Add to Chart</button></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		</div>
