/*Border (For development)*/
.border{
		border: 1px solid #eee;
 }
/*Body style for Fixed NavBar*/
 body{
	  padding-top: 50px;
	 }

/*Inverse panel style*/
.panel-inverse{
	border-color: #101010;
}
.panel-inverse .panel-heading-inverse{
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	color: #fff;
}

/*SideBar styles*/
ul.my-sidebar li{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
		border-bottom: 1px solid #eee;
	}
ul>li:last-child{
	border-bottom: none;
}
.sub-menu{
	display: block;
	left:95%;
	/*position: relative;*/
	position:  absolute;
	top: -13px;
	width: 100%;
	visibility: hidden;
	z-index: 1000;
	/*display: none;*/
}
ul>li:hover>.sub-menu{
	visibility: visible;
	display: block;
}
.panel-body{
	padding: 0;
}
/*Header Styles*/
.header-title{
	color: #fff;
	text-shadow: 0 0 10px #222;
	margin-top: 25px;
}
	.sales-header{
		-webkit-box-shadow: -1px 3px 8px 0px rgba(171,173,173,1);
	}
	/*Title near the Shop logo*/
	.shop-title{
		display: inline-block;
		margin-top: 70px;
		margin-bottom: 0;
		margin-left: 50px;
	}
	/*Logo of the chosen Shop*/
	.shop-logo{
		height: 50px;
		/*margin-top: 10px;
		margin-bottom: 10px;*/
		border: 1px solid #eee;
		border-radius: 9px;
		-webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
		/*-webkit-transition: height 2s;*/
		transition: 1s;
		/*background: url('images/eldorado.PNG') no-repeat;*/
		/*background-position-x: 50%;*/
		/*background-position-y: 50%;*/
		/*background*/

	}
	.shop-logo:hover{
		height: 70px;

	}
	.big-icon{
		font-size: 9em;
	}
	.sales-title{
		color: #fff;
		text-shadow: -4px -1px 3px #222;
		margin-top:0;
		margin-bottom: 0;
	}
	.sales-title-part{
		position: relative;
		/*top: -10px;*/
		/*top: -60px;*/
		left: 70px;
		padding-left: 25px;
		padding-top: 13px;
		color: #fff;
		text-shadow: -2px -2px 3px #fff;
		font-size: 1.5em;
		background-image: url('images/comment.PNG');
		background-size: 60px 50px;
		background-repeat: no-repeat;
		height: 50px;
		width: 60px;
		
	}
	.destroy{
		position: relative;
		top: -35px;
		left: 13px;
		font-size: 1.8em;
		color: #fff;
		text-shadow: -2px -2px 3px #222;
	}
	.icon-shadow{
		text-shadow: -5px 0 3px;
	}
	.shop-logo-column{
		padding-top: 25px;
		/*padding-left: 40px;*/
	/*	background-image: url('images/boot-cart.PNG');
		background-size: 125px 100px;
		background-repeat: no-repeat;
		background-position-x: 10%;
		background-position-y: 50%;*/
		/*height: 100px;*/
	}
	.sales-logo{
		transition: 1s;
	}
	.sales-logo:hover{
		transform: rotate(15deg);
	}
	.search-block{
		padding-top: 35px;
		/*padding-left: 160px;*/
	}

	/*Whishlist and Cart styles*/
	.icon-title{
		margin-top: 0px;
		margin-bottom: 0px;
	}
	/*Badge Style*/
	.cart-badge{
		position: relative;
		top: -6px;
		left: 5px;
	}
	/*Ratings in Thumbnails Styles*/
	.ratings{
		padding-left: 10px;
		padding-right: 10px;
		color: #d17581;
	}

	/*Class for images*/
	.category-image{
		height: 180px;
		padding-top:  130px;
		/*background-image: url('../images/sport.jpg');*/
		/*background-position-y: 50%;*/
		background-repeat: no-repeat;
		background-size: 100% 100%;
		color: #333;
	}
	.mystyle{
		background-image: url('../images/clothing.jpg');
	}