 body{
		 	padding-top: 50px;
		 }
		.border{
			border: 1px solid #eee;
		}
		/*Header*/
		.sales-header{
			-webkit-box-shadow: -1px 3px 8px 0px rgba(171,173,173,1);
		}
		/*Title near the Shop logo*/
		.shop-title{
			display: inline-block;
			margin-top: 70px;
			margin-bottom: 0;
			margin-left: 50px;
		}
		/*Logo of the chosen Shop*/
		.shop-logo{
			height: 50px;
			/*margin-top: 10px;
			margin-bottom: 10px;*/
			border: 1px solid #eee;
			border-radius: 9px;
			-webkit-box-shadow: 0px 1px 18px 0px rgba(0,0,0,0.75);
			/*-webkit-transition: height 2s;*/
			transition: 1s;
			/*background: url('images/eldorado.PNG') no-repeat;*/
			/*background-position-x: 50%;*/
			/*background-position-y: 50%;*/
			/*background*/

		}
		.shop-logo:hover{
			height: 70px;

		}
		.big-icon{
			font-size: 9em;
		}
		.sales-title{
			color: #fff;
			text-shadow: -4px -1px 3px #222;
			margin-top:0;
			margin-bottom: 0;
		}
		.sales-title-part{
			position: relative;
			/*top: -10px;*/
			/*top: -60px;*/
			left: 70px;
			padding-left: 25px;
			padding-top: 13px;
			color: #fff;
			text-shadow: -2px -2px 3px #fff;
			font-size: 1.5em;
			background-image: url('images/comment.PNG');
			background-size: 60px 50px;
			background-repeat: no-repeat;
			height: 50px;
			width: 60px;
			
		}
		.destroy{
			position: relative;
			top: -35px;
			left: 13px;
			font-size: 1.8em;
			color: #fff;
			text-shadow: -2px -2px 3px #222;
		}
		.icon-shadow{
			text-shadow: -5px 0 3px;
		}
		.shop-logo-column{
			/*padding-top: 45px;*/
			/*padding-left: 40px;*/
		/*	background-image: url('images/boot-cart.PNG');
			background-size: 125px 100px;
			background-repeat: no-repeat;
			background-position-x: 10%;
			background-position-y: 50%;*/
			/*height: 100px;*/
		}
		.sales-logo{
			transition: 1s;
		}
		.sales-logo:hover{
			transform: rotate(15deg);
		}
		.search-block{
			/*padding-top: 65px;*/
			/*padding-left: 160px;*/
		}
		.ratings{
			padding-left: 10px;
			padding-right: 10px;
			color: #d17581;
		}