#welcome {
	padding-top: 90px; 
	padding-left: 0px;
}

#welcome h2{
	font-style: italic;
	font-size: 40px;
}

#welcome h1{
	font-weight: 900;
	font-size: 76px;
}

#join {
	padding-top: 50px;
}

#join button{
	color: #1E28B2;	
}