#photoes{
	padding-top: 20px; 
	padding-left: 40px;
}

#shop_list{
	height: 10px;
}

#shop_list th{
	width:50%;
}
			
#shop_list td{
	width:50%;
}

#character_list th{
	width:45%;
}

#character_list td{
	width:55%;
}
			
#footer {
	height: 44px;
	clear: both; /*зняти обтікання*/
	padding-top: 30px;
}
			
#footer p {
	margin: 0;
	font-size: 12px;
	text-align: center;
	color: blue;
}
	
#footer a {
	color: blue;
}