<div ng-controller="MainCtrl">
<!-- Page Content -->
<!-- .container -->
<div class="container">
	<!-- Categories -->
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-offset-1 col-md-10">
			<!-- Category list -->
			<div class="list-container">
				<ul class="list-inline list-unstyled category-list" ng-mouseover="showSubcategoryList()" ng-mouseout="hideSubcategoryList()">
					<li ng-repeat="category in categories">{{category.name}}</li>
				</ul>
			</div>
		</div><!-- /.col-md-12 -->
		<!-- .col-md-12 -->
		<div class="col-md-offset-1 col-md-10 subcategory-container" ng-show="subcategoryListVisibility">
			<div class="row">
				<div class="col-md-1" ng-repeat="category in categories">
					<ul class="list-unstyled">
						<li ng-repeat="subcategory in category.subcategories">{{subcategory.name}}</li>
					</ul>
				</div>
			</div>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
	<!-- .row -->
	<!-- .row -->
	<div class="row">
		<!-- Sidebar -->
		<!-- .col-md-3 -->
		<!-- <div class="col-md-3 ">
			<div class="panel panel-inverse">
				<div class="panel-heading panel-heading-inverse">Categories</div>
				<div class="panel-body">
					<ul class="list-unstyled my-sidebar">
						<li ng-repeat="category in categories">
							<a href="#/admin">{{category.name}}</a>
							<span class="glyphicon glyphicon-menu-right text-primary"></span>
							<ul class="sub-menu panel panel-inverse list-unstyled ">
								<div class="panel-heading panel-heading-inverse">{{category.name}}</div>
								<div class="panel-body">
									<li ng-repeat="subcategory in category.subcategories">
										<a href="#/stuff" ng-click="MainCtrl.categoryAlert(subcategory.name)">{{subcategory.name}}</a>
									</li>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div> --><!-- /.col-md-3 -->
		<!-- .col-md-6 -->
		<!-- Carousel with Offset -->
		<div class="col-md-offset-1 col-md-10">
			<!-- .carousel -->
			<div class="carousel slide" id="myCarousel" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">
						<img src="http://placehold.it/950x320" alt="...">
						<div class="carousel-caption">
							Some caption
						</div>
					</div>	
					<div class="item">
						<img src="http://placehold.it/850x320" alt="...">
						<div class="carousel-caption">
							Second Caption
						</div>
					</div>
					<div class="item">
						<img src="http://placehold.it/850x320" alt="...">
						<div class="carousel-caption">
							Third Caption
						</div>
					</div>
				</div>

				<a href="#myCarousel" class="left carousel-control" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#myCarousel" class="right carousel-control" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div><!-- /.carousel -->
		</div><!-- /.col-md-6 -->
	</div><!-- /.row -->
	<!-- Pictured Categories -->
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-12 ">
			<!-- .col-md-3 -->
			<div class="col-md-3 " ng-repeat="category in categories">
				<div class="category-image"  ng-style="setImage(category.image)">
					<h3 class="pull-right bg-info" style="margin:0">{{category.name}}</h3>
				</div>
			</div><!-- /.col-md-3 -->

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->

</div><!-- /.container -->

</div>
<div class="container-fluid disable-scroll"
	>
	<div class="row ">
		<div class="row" style="padding-top: 30px">
			<div class="col-md-3" style="margin-top: 10px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-users fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">Our team</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">We are the young team that bla bla bla bla
						bla bla bla bla bla bla bla bla bla bla basbdbasdb bla bla a bla bla bla bla bla bla bla bla bla
						bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 10px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-user fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">New Users</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Every day more tha 1000 new users chooses
						our service bla bla bla bla
						bla bla bla bla bla bla bla bla bla bla sdgdgasdgaadsgas bla bla bla bla blabla bla bla bla bla
						bla bla bla bla </p>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 10px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-line-chart fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">Start your own shop</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Start up your buisnes with us bla bla bla
						bla
						bla bla bla bla bla bla bla bla bla bldsgasdga sasd gasd ga bla bla bla bla bla bla bla bla bla
						bla bla bla blaa bla bla bla bla bla bla bla bla bla </p>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 10px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-gift fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">Special propositions</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Start up your buisnes with us bla bla bla
						bla
						bla bla bla bla bla bla bla bla bla asg adfg ad a bla bla bla bla bla bla bla bla bla bla bla
						bla bla bla blabla bla bla bla bla bla bla bla bla bla </p>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 10px; padding-bottom: 5px">
			<div class="col-md-3" style="margin-top: 0px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-shopping-cart fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">Only best shops</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Thousands of bes quality shops bla bla bla
						bla
						bla bla bla bla bla bla bla bla bla b adg adgla a bla bl bla bla bla bla bla bla bla bla bla
						blabla bla bla bla bla bla bla bla bla </p>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 0px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-search fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">Great search system</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Most common and easy search system over the
						site bla bla bla bla
						bla bla bla bla bla bla bla bla bla asdg asdg bla ba bla bla bla bla bla bla bla bla blaa bla
						bla bla bla bla bla bla bla bla </p>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 0px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-globe fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">We are global</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Easy buy products from all over the world
						bla bla bla bla
						bla bla bla bla bla bla bla bla bla ba badga dfga la bla blala bla bla bla bla bla bla bla blala
						bla bla bla bla bla bla bla bla bla </p>
				</div>
			</div>
			<div class="col-md-3" style="margin-top: 0px">
				<div class=" center-block">
					<p align="center" style="font-size: 3.5em; color: rgba(249, 255, 249, 0.6)"><i
							class="fa fa-rocket fa-3x"></i></p>
				</div>
				<h2 class="textColor" align="center">Fastest service ever</h2>

				<div align="center">
					<p class="textColor" align="center" style="width: 300px">Most common and easy search system over the
						site bla bla bla bla
						bla bla bla bla bla bla bla bla bla bla badg adg adga bla bla bla bla bla bla bla bla blala bla
						bla bla bla bla bla bla bla </p>
				</div>
			</div>
		</div>
	</div>
</div>