<div ng-controller="MainCtrl">
<hr>
<!-- Page Content -->
<!-- .container -->
<div class="container">
	<!-- .row -->
	<div class="row">
		<!-- Sidebar -->
		<!-- .col-md-3 -->
		<div class="col-md-3 ">
			<div class="panel panel-inverse">
				<div class="panel-heading panel-heading-inverse">Categories</div>
				<div class="panel-body">
					<ul class="list-unstyled my-sidebar">
						<li ng-repeat="category in categories">
							<a href="#/admin">{{category.name}}</a>
							<span class="glyphicon glyphicon-menu-right text-primary"></span>
							<ul class="sub-menu panel panel-inverse list-unstyled ">
								<div class="panel-heading panel-heading-inverse">{{category.name}}</div>
								<div class="panel-body">
									<li ng-repeat="subcategory in category.subcategories">
										<a href="#/stuff" ng-click="MainCtrl.categoryAlert(subcategory.name)">{{subcategory.name}}</a>
									</li>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div><!-- /.col-md-3 -->
		<!-- .col-md-6 -->
		<div class="col-md-6 ">
			<!-- .carousel -->
			<div class="carousel slide" id="myCarousel" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">
						<img src="http://placehold.it/700x420" alt="...">
						<div class="carousel-caption">
							Some caption
						</div>
					</div>	
					<div class="item">
						<img src="http://placehold.it/700x420" alt="...">
						<div class="carousel-caption">
							Second Caption
						</div>
					</div>
					<div class="item">
						<img src="http://placehold.it/700x420" alt="...">
						<div class="carousel-caption">
							Third Caption
						</div>
					</div>
				</div>

				<a href="#myCarousel" class="left carousel-control" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#myCarousel" class="right carousel-control" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div><!-- /.carousel -->
		</div><!-- /.col-md-6 -->
		<!-- .col-md-3 -->
		<div class="col-md-3 ">
			<!-- .col-md-12 -->
			<div class="col-md-12 ">
				<img src="http://placehold.it/230x164">
			</div><!-- /.col-md-12 -->
			<!-- .col-md-12 -->
			<div class="col-md-12 ">
				<img src="http://placehold.it/230x164">
			</div><!-- /.col-md-12 -->
		</div><!-- /.col-md-3 -->
	</div><!-- /.row -->
	<!-- Pictured Categories -->
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-12 ">
			<!-- .col-md-3 -->
			<div class="col-md-3 " ng-repeat="category in categories">
				<div class="category-image"  ng-style="setImage(category.image)">
					<h3 class="pull-right bg-info" style="margin:0">{{category.name}}</h3>
				</div>
			</div><!-- /.col-md-3 -->

		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->

</div><!-- /.container -->

</div>