<div ng-controller="ProductsCtrl">

	<!-- Header -->
	<header class="sales-header">
		<!-- .container -->
		<div class="container">
			<!-- .row -->
			<div class="row">
				<!-- .col-md-4 -->
				<div class="col-md-offset-1 col-md-2">
					<img src="modules/home/img/sales-if-logo.PNG" width="100px" class="sales-logo center-block">
					<!-- <h3 class="text-center">Opa chin chopa</h3> -->
				</div><!-- /.col-md-4 -->
				<!-- .col-md-4 -->
				<div class="col-md-5 search-block ">
					<h4 class="text-center">Search products</h4>
					<form>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search product">
							<div class="input-group-btn">
								<ul class="dropdown-menu dropdown-menu-right">
									<li><a href="#">through Shop</a></li>
									<li><a href="#">through Site</a></li>
								</ul>
								<button type="button" class="btn btn-default" data-toggle="dropdown">
									search
									<span class="caret"></span>
								</button>
								<button type="button" class="btn btn-default">
									<i class="fa fa-search"></i>
								</button>
								
							</div>
							
						</div>
					</form>
					
					<!-- <h3 class="text-center">Offered by</h3> -->
				</div><!-- /.col-md-4 -->
				<!-- .col-md-4 -->
				<div class="col-md-3 shop-logo-column">
					<h4 class="text-center">Provided by:</h4>
					<img src="modules/home/img/typical.jpg" class="shop-logo center-block">
				</div><!-- /.col-md-4 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</header>
	<!-- Page Content -->
	<!-- .container -->
	<div class="container">
		<!-- Product List Title -->
		<!-- .row -->
		<div class="row">
			<!-- .col-md-12 -->
			<div class="col-md-12">
				<h3 class="text-center">List Of Products</h3>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<!-- Product List Content -->
		<!-- .row -->
		<div class="row">
			<!-- .col-md-3 -->
			<div class="col-md-3" ng-repeat="good in goods">
				<div class="thumbnail">
					<img src="http://placehold.it/320x150">
					<div class="caption">
						<h4 class="pull-right">{{good.price}}</h4>
						<h4><a href="#/stuff/{{good.id}}">{{good.name}}</a></h4>
						<p>
							{{good.description}}
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->

</div>