<div ng-controller="ProductsCtrl">
	<!-- Page Content -->
	<!-- .container -->
	<div class="container">
		<!-- Product List Title -->
		<!-- .row -->
		<div class="row">
			<!-- .col-md-12 -->
			<div class="col-md-12">
				<h1>Search Data {{inputData}}</h1>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<!-- Product List Content -->
		<!-- .row -->
		<div class="row">
			<!-- .col-md-3 -->
			<div class="col-md-3" ng-repeat="good in goods">
				<div class="thumbnail">
					<img src="http://placehold.it/320x150">
					<div class="caption">
						<h4 class="pull-right">{{good.price}}</h4>
						<h4><a href="#/stuff/{{good.id}}">{{good.name}}</a></h4>
						<p>
							{{good.description}}
						</p>
					</div>
					<div class="ratings">
						<p class="pull-right">15 reviews</p>
						<p>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->

</div>