<div ng-controller="ProductCtrl">
	<!-- Page Content -->
	<!-- .container -->
	<div class="container">
		<!-- Product List Title -->
		<!-- .row -->
		<div class="row">
			{{hi}}
			<!-- .col-md-12 -->
			<div class="col-md-12">
				<h1 class="text-center"></h1>
			</div><!-- /.col-md-12 -->
		</div><!-- /.row -->
		<!-- Product List Content -->
		<!-- .row -->
		<div class="row">
			<!-- .col-md-3 -->
			<div class="col-md-3" ng-repeat="good in obj.goods">
				<div class="thumbnail" style="height: 280px">
					<img src="app/modules/home/img/iphone.jpg">
					<div class="caption">
						<h4 class="pull-right">{{good.description.price}}</h4>
						<h4><a href="#/stuff/{{good.id}}">{{good.name}}</a></h4>
						<!-- <p>
							{{good.description}}
						</p> -->
					</div>
					<div class="ratings">
						<p class="pull-right"><a href="#/stuff/{{good.id}}#comments">15 reviews</a></p>
						<p>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</p>
					</div>
				</div>
			</div><!-- /.col-md-3 -->
		</div><!-- /.row -->
	</div><!-- /.container -->

</div>