<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-1 col-lg-1">
            <ul class="nav navbar-nav adm-side-nav ">
                <li class="adm-ProfileUserImgMargin adm-page-size"><img src="app/modules/admin/img/1.jpg"
                                                                        class="img-responsive"/></li>
                <li><a href="#/admin/users"></i><i class="fa fa-users"></i> Users</a></li>
                <li><a href="#/admin/shops"><i class="fa fa-shopping-cart"></i> Shops</a></li>
                <li><a href="#/admin/statistics"><i class="fa fa-bar-chart"></i> Statistics</a></li>
                <!-- end sidebar -->
            </ul>
        </div>
        <div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-3 col-lg-9 col-sm-8 col-xs-7 col-md-9 table-min"
             ng-controller="ShopsCtrl">

            <h2 class="textColor">Shops</h2>

            <p class="textColor">The table consist of all registered shops:</p>
            <table class="table table-condensed">
                <thead>
                <tr class="textColor">
                    <th>№</th>
                    <th>Shop</th>
                    <th>Location</th>
                    <th>E-mail</th>
                    <th>Phone number</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="textColor" ng-repeat="shop in shops" ng-class="getRowStatus(shop.status)">
                    <td>{{$index+1}}</td>
                    <td>{{shop.firstName}}</td>
                    <td>{{shop.city.name}}</td>
                    <td>{{shop.email}}</td>
                    <td>{{shop.phoneNumber}}</td>
                    <td>{{shop.isBlocked}}</td>
                    <td>
                        <button ng-click="changeButtonName($index)"
                                class="btn ButtonColor BtnTextColor fa adm-buttonSizeBlockUnblock"
                                ng-class="getClass(shop.status)" type="button" style="width:90px">
                            {{showMessage(shop.status)}}
                        </button>
                        <button ng-click="deleteAlert($index)" class="btn fa fa-trash ButtonColor BtnTextColor"
                                type="button" style="width:90px">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>