<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-1 col-lg-1">
            <ul class="nav navbar-nav adm-side-nav ">
                <li class="adm-ProfileUserImgMargin adm-page-size"><img
                        src="http://i.ytimg.com/vi/5l8dU40aRUs/maxresdefault.jpg"
                        class="img-responsive"/></li>
                <li><a href="#/shop/products"></i><i class="fa fa-home"></i> My products</a></li>
                <li><a href="#/shop/orders"><i class="fa fa-envelope-o"></i> My orders </a></li>
                <li><a href="#/shop/profile/edit"><i class="fa fa-pencil-square-o"></i> Edit profile</a></li>
                <!-- end sidebar -->
            </ul>
        </div>
        <div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-3 col-lg-9 col-sm-9 col-xs-9 col-md-9"
             ng-controller="OrdersCtrl">
            <h2 class="textColor">Orders</h2>
            <table class="table table-condensed textColor">
                <thead>
                <tr>
                    <th>№</th>
                    <th>User</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr class="hover">
                    <td>{{$index+1}}</td>
                    <td>{{orders.user}}</td>
                    <td>{{orders.product}}</td>
                    <td>{{orders.amount}}</td>
                    <td>{{orders.price}}</td>
                    <td>{{orders.date}}</td>
                    <td>{{orders.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
