<html ng-app="shopApp">
      <head>
        	<meta charset="utf-8">
        	<style type="text/css"></style>
        	<script type="text/javascript"></script>
      	       <!-- Latest compiled and minified CSS -->
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https:///maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<!-- Adding css styles -->
<link rel="stylesheet" type="text/css" href="../css/zarin-shop-admin-page-style.css">
<!-- Adding Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        </head>
<body ng-controller="ShopAdmCtrl as Ctrl">
<!-- Setting navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top navStyle borderNew" role="navigation">
<!--Setting sidebar -->
<ul class="nav navbar-nav  side-nav ">
                    <li class="ProfileUserImgMargin"><img src="http://img4.wikia.nocookie.net/__cb20141031102349/driver/images/b/b2/Audi-Logo-1.jpg"  class="img-responsive"/></li>
                   <li><a href="zarin-shop-products-page.html"></i><i class="fa fa-home"></i>  My products</a> </li>
                   <li><a href="zarin-shop-orders-page.html"><i class="fa fa-envelope-o"></i>  My orders </a></li>
                   <li><a href="zarin-shop-admin-edit-profile.html"><i class="fa fa-pencil-square-o"></i>  Edit profile</a></li>
<!-- end sidebar -->
	</ul>
 <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="zarin-shop-orders-page.html"> 3 new <i class="fa fa-envelope-o"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle DDRight" data-toggle="dropdown" role="button" aria-expanded="false"> <i class="fa fa-cog"></i> Audi UA <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Profile</a></li>
            <li class="divider"></li>
          </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
      <div class="col-md-2">
      </div>
        <div class="col-md-10">
            <h2>Products</h2>
            <p>The table consist of all registered products:</p>            
            <table class="table table-condensed">
              <thead>
          <tr>
          <th>№</th>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Currency</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="product in Ctrl.goods" class="hover" data-toggle="modal" data-target=".seeProduct">
          <td>{{$index+1}}</td>
          <td>{{product.name}}</td>
          <td style="width: 700px">{{product.description}}}</td>
          <td>{{product.price}}</td>
          <td>{{product.currency}}</td>
          </tr>
          </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
    </div>
    <!Class fo show/change product properties>
 <div class="modal fade seeProduct" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" >
   <div class="modal-dialog modal-lg" style="width :1200px">
      <div class="modal-content">
       <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-bottom :5px"><span aria-hidden="true">&times;</span></button>
         </div> 
         <div class="container-fluid">
      <div class="col-md-2">
      </div>
        <div class="col-md-10">
          <div class="col-md-4 UserImgTopMargine">
            <img src="http://vagma.ru/uploads/posts/2011-11/1321632425_audi-a1-sportback-unveiled-photo-gallery_15.jpg" height="280px"  class="img-thumbnail img-responsive imgUserMargineBottom">
          </div>
          <div class="col-md-6 MoveUserInformationRight">
            <h2>{{product.name}}</h2>
            <p>Here You can change you products properties:</p>            
            <table class="table table-condensed">
              <thead>
          <tr>
          <th> </th>
          <th> </th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td>Product:</td>
          <td><textarea class="form-control" rows="1" id="comment" style="width :700px">{{product.name}}</textarea></td>
          </tr>
          <tr>
          <td>Discription:</td>
          <td><textarea class="form-control" rows="7" id="comment" style="width :700px">{{product.fullDescription}}</textarea></td>
          </tr>
          <tr>
          <td>Price:</td>
          <td><textarea class="form-control" rows="1" id="comment" style="width :700px">{{product.price}}</textarea></td>
          </tr>
          <tr>
          <td>Currency:</td>
          <td>
                <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="margin-top: -5px">
    {{product.currency}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">USD</a></li>
    <li><a href="#">EURO</a></li>
    <li><a href="#">UH</a></li>
  </ul>
</div>
          </td>
          </tr>
          </tbody>
          </table>
        </div>
        </div>
    <div class="container-fluid">
      <div class="col-md-2">
      </div>
        
    </div>
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
    </div>
         <div class="modal-footer">
           <button  class="btn btn-default buttonStileBlue" data-dismiss="modal"/>Close</button>
            <button class="btn btn-default buttonStileBlue" type="button"><span aria-hidden="true"></span>  Apply Changes</button>
         </div>
      </div>
    </div>
 </div>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
            <script type="text/javascript" src="../js/zarin-shop-controllers.js"></script>
</body>
</html>