<div class="container-fluid ">
    <div class="row">
        <div class="col-xs-6 col-sm-8 col-md-12 col-lg-12 ">
            <nav class="navbar navbar-inverse navbar-fixed-top adm-navStyle  " role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle profile-DDRight" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <i class="fa fa-cog"></i>
                            Zarin_Andrii
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="fa fa-user-times"></i> Log Out</a></li>
                            <li class="divider"></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- End row -->
    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-1 col-lg-1">
            <ul class="nav navbar-nav adm-side-nav ">
                <li class="adm-ProfileUserImgMargin adm-page-size"><img src="app/modules/admin/img/1.jpg"
                                                                        class="img-responsive"/></li>
                <li><a href="#/admin/users"></i><i class="fa fa-users"></i> Users</a></li>
                <li><a href="#/admin/shops"><i class="fa fa-shopping-cart"></i> Shops</a></li>
                <li><a href="#/admin/statistics"><i class="fa fa-pencil-square-o"></i> Statistics</a></li>
                <!-- end sidebar -->
            </ul>
        </div>
        <div class="col-md-offset-2 col-sm-offset-3 col-xs-offset-3 col-lg-9 col-sm-8 col-xs-7 col-md-9 table-min"
             ng-controller="UsersCtrl">

            <h2>Users</h2>

            <p>The table consist of all registered users:</p>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Name</th>
                    <th>Sex</th>
                    <th>Age</th>
                    <th>E-mail</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="getRowStatus(user.status)" ng-repeat="user in users">
                    <td>{{$index+1}}</td>
                    <td>{{user.name}} {{user.surname}}</td>
                    <td>{{user.sex}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.status}}</td>
                    <td>
                        <button class="btn btn-default fa fa-plus-square" type="button" style="width:90px"> More</button>
                                <button ng-click=" changeButtonName($index)
                        " class="btn btn-default fa adm-buttonSizeBlockUnblock" ng-class="getClass(user.status)"
                        type="button" style="width:90px"> {{showMessage(user.status)}}
                        </button>
                        <button ng-click="deleteUser($index)" class="btn btn-default fa fa-trash" type="button" style="width:90px">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>