		<nav class="navbar navbar-inverse navbar-fixed-top navStyle borderNew " role="navigation">
			<!--Setting sidebar -->
			<ul class="nav navbar-nav adm-side-nav">
				<li class="adm-ProfileUserImgMargin"><img src="modules/admin/img/1.jpg"  class="img-responsive"/></li>
			             <li><a href="#/user/backet"></i><i class="fa fa-users"></i>  Backet</a> </li>
	                    		<li><a href="#/user/purchases"><i class="fa fa-shopping-cart"></i>  My purchases</a></li>
	                    		<li><a href="#/user/profile/edit"><i class="fa fa-pencil-square-o"></i>  Edit profile</a></li>
				<!-- end sidebar -->
			</ul>
			<div class="container-fluid navbar-header">
			        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			        </button>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search">
				</form>
		             	<li class="dropdown">
		              	<a href="#" class="dropdown-toggle DDRight" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog"></i> Zarin_Andrii <span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
             			<li><a href="#"><i class="fa fa-user-times"></i> Log Out</a></li>
         				<li class="divider"></li>
        				</ul>
        			</ul>
		</nav>
		<div class="container-fluid">
			<div class="col-md-2">
			</div>
				<div class="col-md-10">
					<div class="col-md-4 profile-UserImgTopMargine">
						<img src="modules/admin/img/1.jpg" height="180px"  class="img-thumbnail img-responsive profile-imgUserMargineBottom" data-toggle="modal" data-target=".avatar"/>
						<!-- <button class="btn btn-default buttonStileBlue" type="button" style="margin-left :250px; margin-top :5px"><!-- <span class="fa fa-check" aria-hidden="true"></span>  Change</button>  -->
						<h6><a href="" class="profile-MoveChanceImgLink">Click here to change your avatar</a></h6>

					</div>
					<div class="col-md-6 MoveUserInformationRight">
  					<h2>Edir Profile</h2>
  					<p>Here You can change you information, wich will be avaleble on site:</p>            
  					<table class="table table-condensed">
    					<thead>
					<tr>
					<th> </th>
					<th> </th>
					</tr>
					</thead>
					<tbody>
					<tr>
					<td>First name:</td>
					<td><input type="text" class="form-control" style="width :250px" placeholder="Taras"></td>
					</tr>
					<tr>
					<td>Last name:</td>
					<td><input type="text" class="form-control" style="width :250px" placeholder="Danuliyk"></td>
					</tr>
					<tr>
					<td>Sex:</td>
					<td><input type="text" class="form-control" style="width :250px" placeholder="Male"></td>
					</tr>
					<tr>
					<td>Date of birth:</td>
					<td><input type="text" class="form-control" style="width :250px" placeholder="12.07.1992"></td>
					</tr>
					<tr>
					<td>E-mail:</td>
					<td><input type="text" class="form-control" style="width :250px" placeholder="Danuliiyk.Taras@gmail.com"></td>
					</tr>
					<td>Contact number:</td>
					<td><input type="text" class="form-control" style="width :250px" placeholder="+380971324685"></td>
					</tr>
					</tbody>
					</table>
				</div>
				</div>
		<div class="container-fluid">
			<div class="col-md-2">
			</div>
				
		</div>
		<div class="col-md-10">
		</div>
		<div class="col-md-2">
			<button class="btn btn-default buttonStileBlue" type="button" style="margin : 0px 0px 20px -220px"><span aria-hidden="true"></span>  Apply Changes</button>
		</div>
		<!Class fo show profile img>
 <div class="modal fade avatar" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title" id="gridSystemModalLabel">Name of product</h4>
         </div> 
         <div class="modal-body" align="center">
       <img src="modules/admin/img/1.jpg" height="680px"  class="img-thumbnail img-responsive imgUserMargineBottom"/>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div>
    </div>
 </div>
